variables:
  CI_DISPOSABLE_ENVIRONMENT: "true"
  DOCKER_DRIVER: overlay2
  DOCKER_HOST: tcp://localhost:2375
  DOCKER_TLS_CERTDIR: ""

stages:
  - lint
  - depends
  - build
  - test
  - staple
  - installer
  - package

sast:
  stage: test
  before_script:
    - if [[ "$IGNORE_SECURITY" == "true" ]]; then exit 0; fi
  tags:
    - k8s-docker


.depends:
  stage: depends
  script:
    - tools/builddeps.sh

.build:
  when: manual
  stage: build
  variables:
    GREEN_WAYLAND: "OFF"
  before_script:
    - export PATH="$PREFIX/bin:$PATH"
  script:
    - |
      qt-cmake -S . -B build \
        -DCMAKE_BUILD_TYPE=Debug \
        -DGREEN_ENV=$([[ $CI_COMMIT_REF_NAME = release_* ]] && echo "Production" || echo "Testing") \
        -DGREEN_BUILD_ID=$([[ $CI_COMMIT_REF_NAME = release_* ]] && echo "" || echo "-$CI_COMMIT_SHORT_SHA") \
        -DGREEN_LOG_FILE=$CI_COMMIT_BRANCH \
        -DGREEN_WAYLAND=$GREEN_WAYLAND \
        -DENABLE_SENTRY=ON \
        -DSENTRY_KEY=$SENTRY_KEY
    - cmake --build build --parallel 4
    - curl -sL https://sentry.io/get-cli | INSTALL_DIR=$PWD sh
    - |
      ./sentry-cli --url https://sentry.blockstream.io debug-files upload \
        --org $SENTRY_ORG \
        --project $SENTRY_PROJECT \
        --auth-token=$SENTRY_AUTH_TOKEN \
        --log-level=$SENTRY_LOG_LEVEL build

include:
  - local: "ci/docker.yaml"
  - local: "ci/lint.yml"
  - local: "ci/linux-x86_64.yml"
  - local: "ci/windows-x86_64.yml"
  - local: "ci/macos-arm64.yml"
  - local: "ci/macos-x86_64.yml"
  - local: "ci/macos-universal.yml"
  - local: "ci/package.yml"
  - template: Jobs/SAST.gitlab-ci.yml
  - template: Jobs/Secret-Detection.gitlab-ci.yml