[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Icon=green
Name=Blockstream Green
Exec=green %U
Categories=Office;Finance;
MimeType=x-scheme-handler/bitcoin;x-scheme-handler/liquidnetwork;
